In [1]:
import numpy as np
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [4]:
eser=pd.Series()

eser.empty

True

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [11]:
arr1=np.arange(1,10)
arr2=np.arange(1,20)
s1=pd.Series(arr1)
s2=pd.Series(arr2)
print(s1.add(s2,fill_value=0))
print(s1.sub(s2,fill_value=0))
print(s1.mul(s2,fill_value=0))
print(s1.div(s2,fill_value=0))

0      2.0
1      4.0
2      6.0
3      8.0
4     10.0
5     12.0
6     14.0
7     16.0
8     18.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9    -10.0
10   -11.0
11   -12.0
12   -13.0
13   -14.0
14   -15.0
15   -16.0
16   -17.0
17   -18.0
18   -19.0
dtype: float64
0      1.0
1      4.0
2      9.0
3     16.0
4     25.0
5     36.0
6     49.0
7     64.0
8     81.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
dtype: float64
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [14]:
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 10])
print(s1>s2)
print(s1==s2)

0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [17]:
def cdt(s,d):
    return s.astype(f"{d}")

In [24]:
series = pd.Series([1,2,'Python', 2.0, True, 100])
series=pd.to_numeric(series,errors="coerce")
series.astype("float")

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [45]:
br=pd.read_csv("batsman_runs_series.csv",index_col="batter").squeeze()
br.sort_values(ascending=False).head(10)

batter
V Kohli           6634
S Dhawan          6244
DA Warner         5883
RG Sharma         5881
SK Raina          5536
AB de Villiers    5181
CH Gayle          4997
MS Dhoni          4978
RV Uthappa        4954
KD Karthik        4377
Name: batsman_run, dtype: int64

###`Q-7` No of players having runs above 3000

In [47]:
(br>3000).value_counts()

batsman_run
False    585
True      20
Name: count, dtype: int64

###`Q-8` No of players having runs above mean value?

In [49]:
(br>br.mean()).value_counts()

batsman_run
False    477
True     128
Name: count, dtype: int64

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [81]:
#1
items=pd.read_csv("items.csv",index_col="item_name").squeeze()
#2
items.isnull().sum()
#3
items=items.str.replace("$","",regex=False)
items=items.astype("float")
items=items.mul(90)
pd.to_numeric(items)
items=items.fillna(items.mean())
items

item_name
Chips and Fresh Tomato Salsa              215.1
Izze                                      305.1
Nantucket Nectar                          305.1
Chips and Tomatillo-Green Chili Salsa     215.1
Chicken Bowl                             1528.2
                                          ...
Steak Burrito                            1057.5
Steak Burrito                            1057.5
Chicken Salad Bowl                       1012.5
Chicken Salad Bowl                        787.5
Chicken Salad Bowl                        787.5
Name: item_price, Length: 4622, dtype: float64

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [82]:
#1
items.mean()

np.float64(671.6728346456694)

In [84]:
#2
print(np.percentile(items,30))
print(np.percentile(items,6))

400.5
112.5

In [89]:
#4
((items>=1000 )& (items<=2000)).value_counts()

item_price
False    3650
True      972
Name: count, dtype: int64