###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [40]:
import ast
l1=input("please enter the first list including brackets: ")
L1=ast.literal_eval(l1)
l2=input("please enter the second string: ")
L2=ast.literal_eval(l2)
L3=list(zip(L1,L2))
print(L3)
print(type(L3[1]))

[(1, 3), (2, 4), (3, 5)]
<class 'tuple'>

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [11]:
l1=[10,20,[300,400,[5000,6000],500],30,40]
l1[2][2].insert(2,7000)
print(l1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
08Jelly Belly-10it Kat-20
Double Bubble-34
=ilky Way-74
Three Musketeers-32

```

In [12]:
candy_list= ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items=[10,20,34,74,32]
output=[candy_list[i]+"-"+str(no_of_items[i]) for i in range(len(candy_list))]
print(output)

['Jelly Belly-10', 'Kit Kat-20', 'Double Bubble-34', 'Milky Way-74', 'Three Musketeers-32']

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [24]:
l1=[1,2,3,4,5,6]
l1_sum=[]

for i in range(len(l1)):
    if i==0:
        l1_sum.append(l1[i])
    else:
        l1_sum.append(l1[i]+l1_sum[i-1]) 
        

print(l1_sum)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [39]:
import ast 
l1=input("please enter the list with brackets:")
l1=ast.literal_eval(l1)
l1_sum=[]


for i in l1:
    a=i
    for j in l1:
        if j>i:
            a+=j
         
    l1_sum.append(a)

print(l1_sum)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [50]:
l1=[5,4,3,6,1]
l2=[1,2,3,7,4,0]
l3=[]
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)

l3=sorted(l3)
print(l3)

[1, 3, 4]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
l1=['1ac21', '23fg', '456', '098d','1','kls']

prod_val=[]

for i in l1:
    prod=1
    for j in i:
        if j.isdigit():
            j=int(j)
            prod*=j
    prod_val.append(prod)

l3=list(zip(prod_val,l1))
print(l3)
l3_vals=sorted(l3)
print(l3_vals)
l1_sorted=[i[1] for i in l3_vals ]
print(l1_sorted)

[(2, '1ac21'), (6, '23fg'), (120, '456'), (0, '098d'), (1, '1'), (1, 'kls')]
[(0, '098d'), (1, '1'), (1, 'kls'), (2, '1ac21'), (6, '23fg'), (120, '456')]
['098d', '1', 'kls', '1ac21', '23fg', '456']
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [65]:
l1=['CampusX is a channel', 'for data-science', 'aspirants.']
l2=[]

for i in l1:
    l2.extend(i.split())

print(l2)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [68]:
l1=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
s=""
for i in l1:
    for j in i:
        s=s+j
    s=s+" "

print(s)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
l=['campusxIs', 'bestFor', 'dataScientist']
output=[]


for i in l:
    word=''
    for j in range(len(i)):
        if i[j].isupper():
            word=word+" "
            word=word+i[j]
        else:
            word=word+i[j]
    output.append(word)

print(output)

['campusx Is', 'best For', 'data Scien Tist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [8]:
l1=[1,2,3,4,5,1]
l2=[2,3,5,7,8]

nl=set(l1+l2)
print(list(nl))

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [11]:
matrix=[[4,5,6],[1,2,3],[7,8,9]]

maxl=[]

for i in matrix:
    maxnum=0
    for j in i:
        if j>maxnum:
            maxnum=j
    maxl.append(maxnum)

print(maxl)

[6, 3, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [18]:
l=[[i for i in range(j,j+3)] for j in range(0,9,3)]

print(l)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [19]:
# Write code here

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]